# you probably don't want to change these!
# only change them if you're using a server with multiple network interfaces
endpoint_add_tcp "0.0.0.0:{FIVEM_PORT}"
endpoint_add_udp "0.0.0.0:{FIVEM_PORT}"

sets sv_projectName "{FIVEM_HOSTNAME}"
sets sv_projectDesc "A framework with database and character management"

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
ensure scoreboard

# Database String
set mysql_connection_string "mysql://{MYSQL_USER}:{MYSQL_PASSWORD}@{DATABASE_SERVICE_NAME}/{MYSQL_DATABASE}?charset=utf8mb4"

set es_enableCustomData 1

# Allow Essentials mode commands
add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow

# Essentials
ensure mysql-async
ensure essentialmode
ensure es_admin2
ensure esplugin_mysql

# ESX Core
ensure es_extended

# ESX Extras
start esx_menu_default
start esx_menu_list
start esx_menu_dialog
start esx_marker

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# change this
rcon_password {RCON_PASS}

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Uncomment this line if you do not want your server to be listed in the server browser
# Do not edit it if you *do* want your server listed
#sv_master1 ""

# Loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# Set your server's hostname
sv_hostname "{FIVEM_HOSTNAME}"

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group

# Hide player endpoints in external log output.
sv_endpointprivacy true

# Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 32

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey "{STEAM_WEBAPIKEY}"

sv_licenseKey {FIVEM_LICENCE_KEY}
